#biometric-page  #symptomGroups-new {
    height: auto;
}
#biometric-page table td {
    vertical-align: middle;
    padding: 0 7px;
}
#biometric-page table th {
    text-align: center;
    font-weight: bold;
    vertical-align: bottom;
}

#biometric-page table tr.odd, #biometric-page table tr.even {
    border: none;
    background: none;
}
/*.page #menuTop {
    width: 560px;
}*/

#biometric-page table {
    width: 100%;
}

#biometric-page #symptomForm .commentBox textarea {
    width: 691px;
}

#biometric-page #symptomForm .commentBox .grippie {
    width: 689px;
}

.biometric_value_counter .form-type-textfield  input.current_date {
    border: 1px solid #ef6631;
}
.date_today {
    color: #ef6631; 
}